.title {
  text-align: center;
  text-shadow: 2px 2px 2px #b90c37;
  margin: 75px 0;
}

.line {
  height: 1px;
  background: #fff;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  box-shadow: 2px 2px 2px #b90c37;
}

.title h1 {
  font-size: 30pt;
}
