.title {
  text-align: center;
  text-shadow: 1px 1px 1px #b90c37;
  margin-bottom: 50px;
}

.line {
  height: 1px;
  background: #fff;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  box-shadow: 1px 1px 1px #b90c37;
}
